$tile-size: 80px;

.row {
    width: calc($tile-size * 8);
    display: flex;
    flex-direction: row;
    user-select: none;

    .tile {
        width: $tile-size;
        height: $tile-size;
        display: flex;
        justify-content: center;
        align-items: center;

        .piece {
            width: calc($tile-size - 10px);
            height: calc($tile-size - 10px);
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: 6px;
        }
    }

    .light {
        background-image: url('../../../assets/images/square brown light.png');
        background-size: 105%;
    }

    .dark {
        background-image: url('../../../assets/images/square brown dark.png');
        background-size: 105%;
    }

}